.center{
    width: 40%;
    margin: 0 auto;
    margin-top: 100px;
}

.heading{
    text-align: center;
}

.login-button{
    text-align: center;
}

.message{
    font-size: 80%;
}

.success-message{
    color: rgb(22, 201, 22);
}

.warning-message{
    color: rgb(245, 245, 21);
}

.error-message{
    color: rgb(243, 23, 23);
}